# IDE
/.idea
/.awcache
/.vscode

# dependencies
node_modules/
reports-test/
builds/
.build/

# dist
dist/

# logs
.DS_Store
lerna-debug.log
npm-debug.log
yarn-error.log
/**/npm-debug.log
/packages/**/.npmignore
/packages/**/LICENSE

# tests
/test
/benchmarks/memory
/coverage
/.nyc_output
/packages/graphql
build/config\.gypi

# sonar
/.scannerwork

# serverless
/.serverless

# other
.env
dev.sh